<header id="page-header">
<!--  <button id="nav-drawer-button" (click)="toggleDrawer()"></button>-->
  <div id="nav-button-container">
    <div id="nav-button">
      <ng-lottie (mousedown)="toggleDrawer()" [options]="drawerButtonAnimationOptions" (animationCreated)="drawerButtonAnimationCreated($event)"></ng-lottie>
    </div>
  </div>
  <h1 id="logo">Time Logger</h1>
  <div id="account-info-container">
    <button id="avatar"></button>
    <div id="username-container">
      <a id="username">Casey Barton</a>
      <a id="sign-out">Sign Out</a>
    </div>

  </div>
</header>
<nav id="nav-drawer" [@openCloseNav]="isOpen ? 'open' : 'closed'">
  <ol>
    <li>
      <a>Home</a>
    </li>
    <li>
      <a>History</a>
    </li>
    <li>
      <a>Metrics</a>
    </li>
  </ol>
</nav>
<div id="main">
  <app-home></app-home>
</div>
<footer id="page-footer">
  <p>Copyright Casey Barton 2020</p>
</footer>
