/* You can add global styles to this file, and also import other style files */
$primary-bg-color: #1A2F4C;
$primary-bg-color-light: #2F4360;
$primary-bg-color-lighter: #3A4D69;
$primary-bg-color-darker: #226D37;
$primary-text-color: white;
$secondary-bg-color: #1A283D;
$secondary-bg-color-light: #474B5C;
$secondary-bg-color-lighter: #505468;
$secondary-bg-color-darker: #23252E;
$secondary-text-color: lightgrey;
$tertiary-bg-color: #28303E;
$tertiary-text-color: lightgrey;
$main-bg-color: #08172B;
$main-bg-color-emphasis: white;
$main-text-color: white;
$accent-bg-color: #A649A0;
$accent-text-color: white;

$header-bg-color: $primary-bg-color;
$header-text-color: $primary-text-color;

$nav-bg-color: $secondary-bg-color;
$nav-text-color: $secondary-text-color;

$footer-bg-color: $tertiary-bg-color;
$footer-text-color: $tertiary-text-color;

$timeline-bg-color: white;



//$primary-bg-color: #277E3F;
//$primary-bg-color-light: #309C4F;
//$primary-bg-color-lighter: #35AC56;
//$primary-bg-color-darker: #226D37;
//$primary-text-color: white;
//$secondary-bg-color: #363946;
//$secondary-bg-color-light: #474B5C;
//$secondary-bg-color-lighter: #505468;
//$secondary-bg-color-darker: #23252E;
//$secondary-text-color: lightgrey;
//$tertiary-bg-color: #23252E;
//$tertiary-text-color: lightgrey;
//$main-bg-color: #E8E9ED;
//$main-bg-color-emphasis: white;
//$main-text-color: black;
//$accent-bg-color: #A649A0;
//$accent-text-color: white;
